.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  background-color: #2c3e50;
  color: #ecf0f1;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.sidebar h2 {
  font-size: 1.6em;
  margin-bottom: 20px;
  color: #ecf0f1;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}


.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.menu li {
  margin: 15px 0;
}

.menu li a {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 1em;
  display: block;
  padding: 12px;
  border-radius: 4px;
  transition: background 0.3s ease, padding-left 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}

.menu li a:hover {
  background-color: #34495e;
  padding-left: 16px;
  color: #ecf0f1;
}

.subMenu {
  list-style: none;
  background-color: #34495e;
  border-radius: 4px;
  display: none;
  margin-top: 5px;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.subMenu.open {
  display: block;
}

.subMenu li {
  width: 100%;
  box-sizing: border-box;
  transition: background 0.3s ease;
}

.subMenu li a {
  color: #ecf0f1;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
}

.subMenu li a:hover {
  background-color: #1abc9c;
  color: #fff;
}

.menuItem {
  cursor: pointer;
  padding: 12px;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.menuItem:hover {
  background-color: #34495e;
}

.menuItem.active {
  background-color: #2980b9;
}